<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Confirmação de Email</title>
  </head>
  <body>
    <h1>Confirme Seu Email</h1>
    <p>Olá {{username}},</p>
    <p>Por favor, clique no botão abaixo para confirmar seu email e ativar sua conta na COOPEERE:</p>
    <a href="{{confirmationLink}}" target="_blank" style="display: inline-block; background-color: #4285F4; color: #fff; text-decoration: none; font-weight: bold; padding: 10px 20px; border-radius: 5px;">Confirmar Email</a>
    <p>Se você não solicitou essa confirmação de email, por favor ignore este email.</p>
    <p>Obrigado,</p>
    <p>A equipe COOPEERE</p>
  </body>
</html>
